.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    @include tablet {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__title {
        font-size: 15rem;
    }
    &__link {
        text-decoration: none;
    }
    &__item {
        display: inline-block;

        &--primary {
            margin-right: 3rem;
            padding-top: 3rem;
        }

        &--secundary {
            margin-left: 1rem;
            width: 50rem;

            @include tablet {
                width: 25rem;
            }
        }
    }
    &__logo {
        width: 200px;

        @include tablet {
            margin-bottom: 2rem;
        }
    }
}

.content-form {

    &__title {
        font-size: 2.5rem;
    }

}
